{% extends "base.html" %}

{% block page_title %}Bug: {{ bug.title }} {% endblock %}


{% block content %}

    <div class="row row-flex">
        <div class="col-xs-11 display panel panel-default">
            <div class="panel-body">
                <h3>{{ bug.title }}</h3>

                <p class="bug-description">{{ bug.description }}</p>
                <p class="bug-status">Status: {{ bug.status }}</p>
                <p class="bug-author">Created by: {{ bug.author }}</p>
                <p class="bug-created-date">Published: {{ bug.created_date }}</p>
                <p class="bug-modified-date"><small>Modified: {{ bug.modified_date }}</small></p>

                {% for comment in comments %}
                <div class="row">
                    <div class="comments">
                        <p>{{ comment.comment}}</p>
                        <p></p>
                    </div>
                </div>
                {% endfor %}

                <form action="{% url 'upvote_bug' %}" method="POST">
                    {% csrf_token %}
                    {% if is_upvoted %}
                    <button class="btn btn-danger" type="submit" name="bug_id" value="{{ bug.id }}">This issue does not affect me</button> 
                    {% else %}
                    <button class="btn btn-success" type="submit" name="bug_id" value="{{ bug.id }}">This issue affects me</button>
                    {% endif %}
                </form>
                <!-- Only the author of the bug can edit the bug post -->
                {% if request.user.pk == bug.author.pk %}
                    <a class="btn btn-primary" href="{% url 'edit_bug' bug.pk bug.slug %}" role="button">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}