{% extends 'base.html' %}

{% block page_title %}Bug list{% endblock %}

{% block content %}

    <div class="row mb-3">
        <div class="col-6">
            <h1 class="mt-4 main-title">Bug list</h1>
            <p>Log, comment and upvote issues below</p>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <a href="{% url 'new_bug' %}" class="add-bug-btn"><i class="fa fa-plus-square"></i> New Bug</a>
        </div>
    </div>

    <!-- Show bugs -->
        {% for bug in bugs %}
        <!-- Found the login here: https://gist.github.com/nix1947/c765513702e76b5b665d146a72307946 -->
        {% if forloop.counter0|divisibleby:2 %} <div class="row"> {%  endif %}
            <div class="col-6">
                <div class="panel-body">
                    <h3>{{ bug.title }}</h3>

                    <p class="bug-description">{{ bug.description|truncatewords:30 }}</p>
                    <p class="bug-status">Status: {{ bug.status }}</p>
                    <p class="bug-author">Created by: {{ bug.author }}</p>
                    <p class="bug-created-date"><small>Published: {{ bug.created_date }}</small></p>
                    <p class="bug-total-upvotes"><small>{{ bug.total_upvotes }} User{{ bug.total_upvotes | pluralize}}
                            affected by this issue </small></p>
                    <a class="btn btn-primary" href="{{ bug.get_absolute_url }}" role="button">View</a>
                </div>
            </div>
        {%  if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}

        {% endfor %}

{% endblock %}