{% extends 'base.html' %}

{% block page_title %}Bug list{% endblock %}

{% block page_heading %}Bug list{% endblock %}

{% block content %}
    <a href="{% url 'new_bug' %}"><i class="fa fa-plus-square"></i> New Bug</a>
    <!-- Show bugs -->
    {% for bug in bugs %}
    <div class="row row-flex">
        <div class="col-12 display panel panel-default">
            <div class="panel-body">
                <h3>{{ bug.title }}</h3>

                <p class="bug-description">{{ bug.description|truncatewords:30 }}</p>
                <p class="bug-status">Status: {{ bug.status }}</p>
                <p class="bug-author">Created by: {{ bug.author }}</p>
                <a class="btn btn-primary" href="{% url 'bug_detail' bug.pk %}" role="button">View</a>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}