{% extends 'base.html' %}

{% block page_title %}Bug list{% endblock %}

{% block content %}
<div id="all-bugs">
    <div class="row mb-3">
        <div class="col-6">
            <h1 class="mt-4 main-title">Bug list</h1>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <a href="{% url 'new_bug' %}" class="add-bug-btn"><i class="fa fa-plus-square"></i> New Bug</a>
        </div>
        <div class="col">
            <p>Log, comment and upvote issues below</p>
        </div>
    </div>

    <!-- Show bugs -->
    {% for bug in bugs %}
    {% if forloop.counter0|divisibleby:2 %} <div class="row"> {% endif %}
        <div class="col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <a href="{{ bug.get_absolute_url }}">
                        <h3 class="card-title mt-1 border-bottom">{{ bug.title|truncatechars:29 }}</h3>
                    </a>
                    <div class="card-text">
                        <p class="bug-description">{{ bug.description|truncatewords:15 }}</p>
                        <small><p class="bug-author"><span class="text-dark">Created by:</span> {{ bug.author|capfirst }}</p></small>
                        <p class="bug-created-date"><small>Published: {{ bug.created_date }}</small></p>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <p class="bug-total-upvotes">
                        <small>
                            {{ bug.total_upvotes }} Vote{{ bug.total_upvotes | pluralize}}
                        </small>
                    </p>
                    <p><small>
                            Comment{{ bug.comments| pluralize }}: {{ bug.comments.count }}
                        </small>
                    </p>
                    <p class="bug-status"><small>Status: {{ bug.status }}</small></p>
                </div>
            </div>
        </div>
        {%  if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}

    {% endfor %}
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="pagination d-inline-block">
                {% if bugs.has_previous %}
                    <a href="?page=1" class="pagination-action"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                    <a href="?page={{ bugs.previous_page_number }}" class="pagination-action"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                {% endif %}
        
                {% for num in bugs.paginator.page_range %}
                    {% if bugs.number == num %}
                        <strong>{{ num }}</strong>
                    {% elif num > bugs.number|add:'-3' and num < bugs.number|add:'3' %}
                        <a href="?page={{ num }}"><span>{{ num }}</span></a>
                    {% endif %}
                {% endfor %}
        
                {% if bugs.has_next %}
                    <a href="?page={{ bugs.next_page_number }}" class="pagination-action"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <a href="?page={{ bugs.paginator.num_pages }}" class="pagination-action"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}