{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_heading %}Home{% endblock %}

    {% block top %}
    <div id="home-page-top">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col main-title text-center">
                    <h1>Unicorn Attractor</h1>
                </div>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h3 class="display-4">Support website</h3>
                <p class="lead">
                    This website is dedicated to our Unicorn attractor sofware users! <br/>
                    * Report bugs and have them fixed for free. <br/>
                    * Ask for new features to be developped on our software. <br/>
                    * Contribute to features created that you want to see implemented rapidly. <br/>
                </p>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}

        <div id="home-page-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-5">
                        <div class="card-body">
                                <h3 class="card-title mt-1 pb-2 border-bottom text-center">Bugs</h3>
                            <div class="card-text">
                                <div class="d-flex justify-content-center">
                                    <ul>
                                        <li>See the bug ticket that has been logged by users.</li>
                                        <li>Create a new ticket for free if you encounter any issue.</li>
                                        <li>Upvote bugs if you have the same issue.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-center">
                            <div>
                                <a href="{% url 'all_bugs' %}"class="btn btn-info btn-sm">View tickets</a>
                                <a href="{% url 'new_bug' %}"class="btn btn-info btn-sm">Create a ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-5">
                        <div class="card-body">
                                <h3 class="card-title mt-1 pb-2 border-bottom text-center">Features</h3>
                            <div class="card-text">
                                <div class="d-flex justify-content-center">
                                    <ul>
                                        <li>See the features ideas that has been logged by users.</li>
                                        <li>Create a new ticket if you want to see new feature</li>
                                        <li>Contribute to features to have them created - 20 <span class="fa fa-eur" aria-hidden="true"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-center">
                            <div>
                                <a href="{% url 'all_features' %}"class="btn btn-info btn-sm">View requests</a>
                                <a href="{% url 'new_feature' %}"class="btn btn-info btn-sm">Create a request</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}