{% extends 'base.html' %}

{% block page_title %}Password reset page{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
    <form method="post" class="accountform mt-4">
        <p>Please specify your email address to receive instructions for resetting it.</p>
        <br>
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <!-- label is for id_ email and the reason we use id_email is because Django will prepend any fields with id_ -->
        <p><label for="id_email" class="control-label required-field mb-4">E-mail address:</label> {{ form.email }} <input type="submit" class="btn btn-info btn-sm" value="Reset password" /></p>
    </form>
{% endblock %}