{% extends "base.html" %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %}Feature: {{ feature.title }} {% endblock %}


{% block content %}

<div id="feature-detail">
    <!-- Only the author of the feature can edit the feature post -->
    {% if request.user.pk == feature.author.pk %}
    <div class="row">
        <div class="col mt-3">
            <a class="add-feature-btn" href="{% url 'edit_feature' feature.pk feature.slug %}" role="button"><i
                    class="fa fa-plus-square"></i> Edit feature</a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="card mb-4 mt-4">
                <div class="card-body">
                    <h3 class="card-title mt-1 pb-2 border-bottom">{{ feature.title }}</h3>
                    <div class="card-text">
                        <p class="feature-description">{{ feature.description }}</p>
                        <small><p class="feature-author"><span class="text-dark">Created by:</span> {{ feature.author|capfirst }}</p></small>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-7 d-flex justify-content-between">
                                {% if request.user.is_authenticated %}
                                <div>
                                    <a href="{% url 'add_to_cart' feature.id %}" class="btn btn-primary btn-sm">
                                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    </a>
                                </div>
                                {% endif %}
                                <p class="feature-total-upvotes">
                                    <small>
                                        {{ feature.upvotes }} Vote{{ feature.upvotes | pluralize}}
                                    </small>
                                </p>
                                <p><small>
                                        Comment{{ feature.comments|pluralize }}: {{ feature.comments.count }}
                                    </small>
                                </p>
                                <p class="feature-status"><small>Status: {{ feature.status }}</small></p>
                            </div>
                            <div class="col-12 col-md-5 d-flex justify-content-center">
                                <p class="feature-modified-date"><small>Published: {{ feature.modified_date }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="panel-body">

                {% if request.user.is_authenticated %}
                <div class="container-fluid">
                    <div class="row form-group">
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form | as_bootstrap }}
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
                {% endif %}

                <hr>

                <div class="main-comment-section">
                    {% for comment in comments %}
                    <div class="main-comment">
                        <div class="comment-top d-flex justify-content-between">
                            <p class="comment-author"><b>{{ comment.author|capfirst }}</b></p>
                            <small>{{ comment.created_date }}</small>
                        </div>
                        <div>
                            <p class=""><b>Comment:</b> {{ comment.context }}</p>
                            <div class="d-flex justify-content-between">
                                <small class="reply-btn view-reply"> {{ comment.feature_replies.count }} repl{{comment.feature_replies.count|pluralize:"y,ies"}} </small>
                                <button class="reply-btn btn btn-info btn-sm mb-2">Reply</button>
                            </div>
                        </div>
                    </div>

                    <div class="replied-comments-section container-fluid mb-3">
                        {% for reply in comment.feature_replies.all %}
                        <div class="replied-comment">
                            <div class="comment-top d-flex justify-content-between">
                                <p class="comment-author">{{ reply.author|capfirst }}</p>
                                <small>{{ reply.created_date }}</small>
                            </div>
                            <p class=""><b>Comment:</b> {{ reply.context }}</p>
                        </div>
                        {% endfor %}

                        {% if request.user.is_authenticated %}
                        <div class="row form-group">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                {{ comment_form | as_bootstrap }}
                                <button type="submit" class="btn btn-info">Submit</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}

{% block footer_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}