{% extends 'base.html' %}

{% block page_title %}Feature list{% endblock %}

{% block content %}
<div id="all-features">
    <div class="row mb-3">
        <div class="col-6">
            <h1 class="mt-4 main-title">Feature list</h1>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <!-- udpate href -->
            <a href="{% url 'new_feature' %}" class="add-feature-btn"><i class="fa fa-plus-square"></i> New Feature</a>
        </div>
        <div class="col">
            <p>Log, comment and upvote features below</p>
        </div>
    </div>

    <!-- Show features -->
    {% for feature in features %}
    {% if forloop.counter0|divisibleby:2 %} <div class="row"> {% endif %}
        <div class="col-md-6">
            <div class="card mb-5">
                <div class="card-body">
                    <a href="{{ feature.get_absolute_url }}">
                        <h3 class="card-title mt-1 border-bottom">{{ feature.title|truncatechars:29 }}</h3>
                    </a>
                    <div class="card-text">
                        <p class="feature-description">{{ feature.description|truncatewords:15 }}</p>
                        <small><p class="feature-author"><span class="text-dark">Created by:</span> {{ feature.author|capfirst }}</p></small>
                        <p class="feature-created-date"><small>Published: {{ feature.created_date }}</small></p>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <p class="feature-total-upvotes">
                        <small>
                            {{ feature.total_upvotes }} Vote{{ feature.total_upvotes | pluralize}}
                        </small>
                    </p>
                    <p>
                        <small>
                            Contribution{{ feature.contributions|pluralize }}: {{ feature.contributions }}
                        </small>
                    </p>
                    <p><small>
                            Comment{{ feature.comments| pluralize }}: {{ feature.comments.count }}
                        </small>
                    </p>
                    <p class="feature-status"><small>Status: {{ feature.status }}</small></p>
                </div>
            </div>
        </div>
        {%  if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}

    {% endfor %}
    
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="pagination d-inline-block">
                {% if features.has_previous %}
                    <a href="?page=1" class="pagination-action"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                    <a href="?page={{ features.previous_page_number }}" class="pagination-action"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                {% endif %}
        
                {% for num in features.paginator.page_range %}
                    {% if features.number == num %}
                        <strong>{{ num }}</strong>
                    {% elif num > features.number|add:'-3' and num < features.number|add:'3' %}
                        <a href="?page={{ num }}"><span>{{ num }}</span></a>
                    {% endif %}
                {% endfor %}
        
                {% if features.has_next %}
                    <a href="?page={{ features.next_page_number }}" class="pagination-action"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    <a href="?page={{ features.paginator.num_pages }}" class="pagination-action"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}