body {
    padding-top: 56px;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.main-title {
    color: #40ace9;
}
/* ----------------  Navbar --------------- */
/* Taken from bootswatch nav */
.nav-color {
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
}

/* ----------------  Bug pages --------------- */
.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-title, .card-body a {
    color: #4e98c3;
}

.card-title, .card-text .bug-description {
    height: 3em;
    overflow: hidden;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.add-bug-btn {
    font-size: 16px;
}

/* .replied-comments p {
    word-wrap: break-word;
} */

/* ----------------------------------  Media */
@media (min-width: 768px){
    /* ------ Navbar-------- */
    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .nav-item > a:hover {
        color: white;
        text-decoration: underline;
    }
}

/* So within our caption paragraph, which is where we describe the product, 
we're putting in some word-wrap so that the text will wrap within the <div>, or within the paragraph, 
and won't overflow. */
/* caption p {
    word-wrap: break-word;
}