html {
    height: 100%;
}

body {
    padding-top: 56px;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    min-height: 100%;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-title {
    color: #40ace9;
    margin-bottom: 10px;
}
/* ----------------  Navbar --------------- */
/* Taken from bootswatch nav */
.nav-color {
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
}

/* ----------------  Bug & Feature pages & Card pages --------------- */
.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.bug-author,
.feature-author,
.comment-author {
    color: #4e98c3
}

/* ---------- All bugs & All features ---------- */
.card-title, .card-body a {
    color: #4e98c3;
}

#all-bugs .card-text .bug-description,
.card-title, .card-text .feature-description {
    height: 3em;
    overflow: hidden;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.add-bug-btn,
.add-feature-btn {
    font-size: 16px;
}

/* ---------- Bug detail & Feature detail ---------- */
.card-footer .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/* ---- Comment section ---- */
.replied-comments-section {
    display: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-comment {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

.replied-comment {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

/* ---------- Checkout page ---------- */
legend {
    color: #555555;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.total {
    color: #4e98c3;
}

/* ---------- Profile page ---------- */
.username, .email {
    color: #4e98c3;
}

/* ----------------------------------  Media */
@media (min-width: 768px){
    /* ------ Navbar-------- */
    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .75rem;
        padding-left: .75rem;
    }

    .nav-item > a:hover {
        color: white;
        text-decoration: underline;
    }
}